<% layout("./layouts/boilerplate") %>
<div class="signupPage">
    <h3>Login</h3>
    <form method="post" action="/login" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
            <div class="invalid-feedback">
                Username should be valid.
              </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
            <div class="invalid-feedback">
                Password should be valid.
              </div>
        </div>
        <button class="btn btn-success">Login</button>
    </form>
</div>